body{
    background-color: #FFCC80;
    text-align: center;
}
#spim1{
    width: 450px;
    
}

#spim2{
    width: 450px;
    height: 450px;
    
}
#spim3{
    width: 450px;
     height: 450px;
    
}
#spim4{ 
    width: 450px;
      height: 450px;
} 